body {
  background-color: silver;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  
  background-color: lightgreen;
  width: 400px;
  height: 500px;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.calculate {
  
  background-color: lemonchiffon;
  border-radius: 4px;
  width: 70vh;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 5px;
}