body {
  background-color: silver;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin-top: 100px;
  background-color: lightgreen;
  border-radius: 10px;
  width: 400px;
  height: 500px;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.calculate {
  background-color: lemonchiffon;
  border-radius: 10px;
  width: 360px;
  height: 110px;
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 50px;
}

.number {
  margin-top: 15px;
  
}

div > button {
  width: 85px;
  height: 55px;
  border-radius: 6px;
  border-color: grey;
  box-shadow: none;
  font-size: 20px;
}

.first {
  margin-bottom: 8px;
}

.second {
  margin-top: 8px;
  margin-bottom: 8px;
}

.third {
  margin-bottom: 8px;
}

.forth {
  margin-bottom: 8px;
}

.last {
  margin-bottom: 8px;
}